workshops/scrape-latest-jobs-with-ai-using-make-com/2. Get Results from Indeed Bulk Job Scraper & Customize Resume.blueprint.json
{
    "name": "2. Get Results from Indeed Bulk Job Scraper & Customize Resume",
    "flow": [
        {
            "id": 1,
            "module": "apify:finishedActorRuns",
            "version": 1,
            "parameters": {
                "__IMTHOOK__": 1366126
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "__IMTHOOK__": {
                            "data": {
                                "editable": "false"
                            },
                            "label": "My Finished Actor Run webhook"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTHOOK__",
                        "type": "hook:apify",
                        "label": "Webhook",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 2,
            "module": "apify:fetchDatasetItems",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 5486105
            },
            "mapper": {
                "type": "clean",
                "limit": "2",
                "format": "json",
                "datasetId": "{{1.defaultDatasetId}}"
            },
            "metadata": {
                "designer": {
                    "x": 296,
                    "y": 3
                },
                "restore": {
                    "expect": {
                        "type": {
                            "mode": "chose",
                            "label": "Clean"
                        },
                        "format": {
                            "mode": "chose",
                            "label": "JSON"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "apify2"
                            },
                            "label": "My Apify [Recommended] connection (talk@buildfastwithai.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:apify2,apify",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "datasetId",
                        "type": "text",
                        "label": "Dataset ID",
                        "required": true
                    },
                    {
                        "name": "type",
                        "type": "select",
                        "label": "Data transformation",
                        "required": true,
                        "validate": {
                            "enum": [
                                "clean",
                                "simplified",
                                "none"
                            ]
                        }
                    },
                    {
                        "name": "format",
                        "type": "select",
                        "label": "Format",
                        "required": true,
                        "validate": {
                            "enum": [
                                "json",
                                "csv",
                                "html",
                                "xml",
                                "rss",
                                "xlsx"
                            ]
                        }
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit",
                        "validate": {
                            "max": 100000,
                            "min": 1
                        }
                    },
                    {
                        "name": "offset",
                        "type": "uinteger",
                        "label": "Offset",
                        "validate": {
                            "min": 0
                        }
                    }
                ]
            }
        },
        {
            "id": 3,
            "module": "openai-gpt-3:CreateCompletion",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 5486122
            },
            "mapper": {
                "model": "chatgpt-4o-latest",
                "top_p": "1",
                "select": "chat",
                "messages": [
                    {
                        "role": "system",
                        "content": "You're a helpful, intelligent writing assistant."
                    },
                    {
                        "role": "user",
                        "content": "Below is a resume and a job post. Customize the resume to the job post. Keep the places worked the same, but modify everything else in the resume to match the job post's requested skills and qualifications. Write the new resume in Markdown (atx) format.",
                        "imageDetail": "auto"
                    },
                    {
                        "role": "user",
                        "content": "---\n\nResume\n\nMax Davis  \n[maxdavis.com](http://maxdavis.com) • (233) 347-3103 • [linkedin.com/max-davis](http://linkedin.com/max-davis) • @maxdavis • [github.com/maxdavis](http://github.com/maxdavis)  \n\n**Security Engineer**\n\nPassionate and seasoned Security Engineer with over 5 years of hands-on experience in information security operations and data protection/privacy. Demonstrated ability to collaborate with engineering, operations, and network teams to drive security requirements and solutions. Skilled in conducting security assessments, developing security standards, and improving security posture through process improvement and automation. \n\n**Relevant Highlights**\n- Extensive experience in security controls assessments and remediation activities.\n- Proficient in security technologies such as network security appliances, identity and access management systems, and security scanning tools.\n- Strong knowledge of industry standards and regulations (ISO, NIST, CSA).\n- Hands-on experience with cloud security, especially AWS.\n\n**Work Experience**\n\n**Data Engineer**  \nNext Generation 3/2022 - Present\n- Led the development and implementation of a data lake, resulting in a 50% increase in data accessibility.\n- Developed and implemented data pipelines to improve data quality, resulting in a 30% increase in data accuracy.\n- Led a team of 5 data engineers to develop and implement data-driven solutions to improve business outcomes.\n\n**Cloud Data Engineer**  \nEnigma Enterprises 3/2020 - 3/2022\n- Assisted in the development and implementation of ETL processes.\n- Conducted data cleaning and preparation.\n- Collaborated with data engineers to develop data pipelines, improving data quality and accessibility.\n\n**Junior Data Engineer**  \nThunderbolt Inc. 3/2019 - 3/2020\n- Assisted in the development and implementation of ETL processes.\n- Conducted data cleaning and preparation tasks.\n- Collaborated with data engineers to develop data pipelines, improving data quality and accessibility.\n\n**Skills & Competencies**\n- **Information Security Operations:** Conducting security assessments, vulnerability testing, and remediation activities.\n- **Security Technologies:** Network security appliances, identity and access management systems, anti-malware solutions, security scanning tools.\n- **Cloud Security:** Experience with AWS and cloud business models like Software-as-a-Service.\n- **Security Protocols:** Strong understanding of cryptography, authentication, and authorization.\n- **Industry Standards:** In-depth knowledge of ISO 27001, SOC 2, FedRAMP, NIST.\n- **Process Improvement:** Developing security standards, procedures, and controls.\n\n**Education**\n- Bachelor’s degree in Information Technology\n\n---\n\nJob Post\n\nOur client, in the autonomous driving vehicle space, is looking for a meticulous and analytical individual to join our team as a Data Loss Prevention (DLP) Analyst. This role involves providing technical assistance in the deployment, configuration, and optimization of our client's DLP security platforms. This person will utilize the DLP tools to detect and identify data loss risks, validate the efficiencies of processes, systems and services that handle sensitive information. This is a 6 month contract opportunity with a hybrid schedule of 3 days onsite (minimum) at their Foster City, CA location.\n  \n  Responsibilities: \n \n  Serve as the inaugural analyst for the emerging team, spearheading efforts in data loss prevention (DLP) initiatives.\n   Collaborate closely with senior engineer, in crafting and refining policies for data collection- then cleaning, processing, and generating reports. This includes a focus on identifying patterns and problem-solving to enhance data insights.\n   Analyze a variety of data sources, including but not limited to Crowdstrike and DLP for Zoom, to determine their potential value in strengthening the organization's security \n  Proficiently handle raw data, whether structured or unstructured, utilizing analytical skills to extract meaningful insights and produce actionable reports.\n   Demonstrate proficiency in automation techniques to streamline data analysis processes and enhance efficiency.\n   Exercise keen problem-solving abilities to identify and address emerging challenges in data protection and loss prevention.\n  Requirements: \n \n  Associate's Degree or equivalent in computer science, statistics, mathematics, internet security, or related fields. Alternatively, relevant on-the-job experience from academia, law enforcement, military service, or government service.\n   Minimum of 5 years' experience in reviewing and resolving DLP alerts.\n   Familiarity with pertinent data privacy and protection regulations.\n   Ability to comprehend technical intricacies and eagerness to acquire knowledge of new and complex technologies. Enthusiastic about tackling challenging tasks.\n   Proficiency in critical thinking, objectivity, rationality, and the ability to communicate in a results-driven, data-centric manner.\n   Knowledge of NIST CSF, RMF, and SP 800-53.\n  Nice to Have: \n \n  Experience with CrowdStrike.\n   Familiarity with statistical analytical tools and data visualization techniques.\n   Experience with policy/rule software tools.\n  \n  About Vivo\n  \n  Having been in business since 2006, Vivo is a full-service recruiting and consulting company, specializing in mid to senior level technology resources. Our brand promise is simple: we get people. We get that our clients don t want to waste time and that our candidates and employees thrive when given honest feedback and an opportunity to grow.\n  \n  Whether you re onsite at our Pleasanton headquarters or working for one of Vivo s clients the best brand names out there our promise to you is unwavering: we will treat you like you are our most important employee.\n  \n  Do you think you get people get what they really need, and get how to deliver? We re not perfect but we re accountable. We re not in 32 countries, but we are in the heart of it all. So, if you are looking for a flexible, fun and high-energy work environment, along with the opportunity to work with some of the world s technology leaders, we can t wait to talk to you.\n   \n---",
                        "imageDetail": "auto"
                    },
                    {
                        "role": "assistant",
                        "content": "# Max Davis\n\n[maxdavis.com](http://maxdavis.com) • (233) 347-3103 • [linkedin.com/max-davis](http://linkedin.com/max-davis) • @maxdavis • [github.com/maxdavis](http://github.com/maxdavis)\n\n## Data Loss Prevention (DLP) Analyst\n\nMeticulous and analytical professional with over 5 years of experience in data loss prevention (DLP) initiatives. Adept at deploying, configuring, and optimizing DLP security platforms. Proven ability to analyze data sources, identify patterns, and enhance data insights. Skilled in automation techniques to streamline processes and improve efficiency.\n\n## Relevant Highlights\n\n- Extensive experience in reviewing and resolving DLP alerts.\n- Proficient in handling raw data, both structured and unstructured, to extract meaningful insights.\n- Strong knowledge of data privacy and protection regulations.\n- Skilled in using CrowdStrike and DLP tools for platforms like Zoom.\n- Proficient in critical thinking, objectivity, and rationality in a data-centric manner.\n- Knowledgeable in NIST CSF, RMF, and SP 800-53.\n- Experience with statistical analytical tools and data visualization techniques.\n\n## Work Experience\n\n### Data Engineer\n**Next Generation**  \n3/2022 - Present\n- Spearheaded efforts in data loss prevention (DLP) initiatives, improving data security posture.\n- Developed and optimized data pipelines to enhance data quality and accessibility.\n- Analyzed data sources to identify patterns and generate actionable reports, enhancing data insights.\n\n### Cloud Data Engineer\n**Enigma Enterprises**  \n3/2020 - 3/2022\n- Collaborated with senior engineers to craft and refine DLP policies for data collection and processing.\n- Conducted data cleaning and preparation, improving data accuracy and quality.\n- Utilized automation techniques to streamline data analysis processes, enhancing efficiency.\n\n### Junior Data Engineer\n**Thunderbolt Inc.**  \n3/2019 - 3/2020\n- Assisted in the development and implementation of data protection protocols.\n- Conducted data cleaning and preparation tasks to improve data accuracy.\n- Collaborated with data engineers to develop data pipelines, improving data quality and accessibility.\n\n## Skills & Competencies\n\n- **Data Loss Prevention:** Reviewing and resolving DLP alerts, deploying and configuring DLP security platforms.\n- **Data Analysis:** Handling raw data, structured and unstructured, to extract meaningful insights.\n- **Security Tools:** Proficient in using CrowdStrike and DLP tools for platforms like Zoom.\n- **Automation:** Implementing automation techniques to streamline data analysis processes.\n- **Regulations:** Familiarity with NIST CSF, RMF, SP 800-53, and relevant data privacy and protection regulations.\n- **Critical Thinking:** Strong proficiency in critical thinking, objectivity, and rationality in a data-centric manner.\n\n## Education\n\n- Associate's Degree in Computer Science"
                    },
                    {
                        "role": "user",
                        "content": "---\n\nResume\n\nMax Davis  \n[maxdavis.com](http://maxdavis.com) • (233) 347-3103 • [linkedin.com/max-davis](http://linkedin.com/max-davis) • @maxdavis • [github.com/maxdavis](http://github.com/maxdavis)  \n\n**Security Engineer**\n\nPassionate and seasoned Security Engineer with over 5 years of hands-on experience in information security operations and data protection/privacy. Demonstrated ability to collaborate with engineering, operations, and network teams to drive security requirements and solutions. Skilled in conducting security assessments, developing security standards, and improving security posture through process improvement and automation. \n\n**Relevant Highlights**\n- Extensive experience in security controls assessments and remediation activities.\n- Proficient in security technologies such as network security appliances, identity and access management systems, and security scanning tools.\n- Strong knowledge of industry standards and regulations (ISO, NIST, CSA).\n- Hands-on experience with cloud security, especially AWS.\n\n**Work Experience**\n\n**Data Engineer**  \nNext Generation 3/2022 - Present\n- Led the development and implementation of a data lake, resulting in a 50% increase in data accessibility.\n- Developed and implemented data pipelines to improve data quality, resulting in a 30% increase in data accuracy.\n- Led a team of 5 data engineers to develop and implement data-driven solutions to improve business outcomes.\n\n**Cloud Data Engineer**  \nEnigma Enterprises 3/2020 - 3/2022\n- Assisted in the development and implementation of ETL processes.\n- Conducted data cleaning and preparation.\n- Collaborated with data engineers to develop data pipelines, improving data quality and accessibility.\n\n**Junior Data Engineer**  \nThunderbolt Inc. 3/2019 - 3/2020\n- Assisted in the development and implementation of ETL processes.\n- Conducted data cleaning and preparation tasks.\n- Collaborated with data engineers to develop data pipelines, improving data quality and accessibility.\n\n**Skills & Competencies**\n- **Information Security Operations:** Conducting security assessments, vulnerability testing, and remediation activities.\n- **Security Technologies:** Network security appliances, identity and access management systems, anti-malware solutions, security scanning tools.\n- **Cloud Security:** Experience with AWS and cloud business models like Software-as-a-Service.\n- **Security Protocols:** Strong understanding of cryptography, authentication, and authorization.\n- **Industry Standards:** In-depth knowledge of ISO 27001, SOC 2, FedRAMP, NIST.\n- **Process Improvement:** Developing security standards, procedures, and controls.\n\n**Education**\n- Bachelor’s degree in Information Technology\n\n---\n\nJob Post\n{{2.description}}\n\n   \n---",
                        "imageDetail": "auto"
                    }
                ],
                "max_tokens": "4096",
                "temperature": "0.7",
                "n_completions": "1",
                "response_format": "text"
            },
            "metadata": {
                "designer": {
                    "x": 596,
                    "y": 4
                },
                "restore": {
                    "expect": {
                        "stop": {
                            "mode": "chose"
                        },
                        "model": {
                            "mode": "chose",
                            "label": "chatgpt-4o-latest (system)"
                        },
                        "select": {
                            "label": "Create a Chat Completion (GPT and o1 models)"
                        },
                        "messages": {
                            "mode": "chose",
                            "items": [
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "Developer / System"
                                    }
                                },
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "User"
                                    },
                                    "imageDetail": {
                                        "mode": "chose",
                                        "label": "Auto"
                                    },
                                    "imageInputType": {
                                        "mode": "chose",
                                        "label": "Empty"
                                    }
                                },
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "User"
                                    },
                                    "imageDetail": {
                                        "mode": "chose",
                                        "label": "Auto"
                                    },
                                    "imageInputType": {
                                        "mode": "chose",
                                        "label": "Empty"
                                    }
                                },
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "Assistant"
                                    },
                                    "tool_calls": {
                                        "mode": "edit"
                                    }
                                },
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "User"
                                    },
                                    "imageDetail": {
                                        "mode": "chose",
                                        "label": "Auto"
                                    },
                                    "imageInputType": {
                                        "mode": "chose",
                                        "label": "Empty"
                                    }
                                }
                            ]
                        },
                        "logit_bias": {
                            "mode": "chose"
                        },
                        "tool_choice": {
                            "mode": "chose",
                            "label": "Empty"
                        },
                        "response_format": {
                            "mode": "chose",
                            "label": "Text"
                        },
                        "additionalParameters": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "openai-gpt-3"
                            },
                            "label": "My OpenAI connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:openai-gpt-3",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Select Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "chat",
                                "prompt"
                            ]
                        }
                    },
                    {
                        "name": "temperature",
                        "type": "number",
                        "label": "Temperature",
                        "validate": {
                            "max": 2,
                            "min": 0
                        }
                    },
                    {
                        "name": "top_p",
                        "type": "number",
                        "label": "Top P",
                        "validate": {
                            "max": 1,
                            "min": 0
                        }
                    },
                    {
                        "name": "n_completions",
                        "type": "number",
                        "label": "Number"
                    },
                    {
                        "name": "frequency_penalty",
                        "type": "number",
                        "label": "Frequency Penalty",
                        "validate": {
                            "max": 2,
                            "min": -2
                        }
                    },
                    {
                        "name": "presence_penalty",
                        "type": "number",
                        "label": "Presence Penalty",
                        "validate": {
                            "max": 2,
                            "min": -2
                        }
                    },
                    {
                        "name": "logit_bias",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "token",
                                    "type": "text",
                                    "label": "Token ID",
                                    "required": true
                                },
                                {
                                    "name": "probability",
                                    "type": "number",
                                    "label": "Probability",
                                    "required": true,
                                    "validate": {
                                        "max": 100,
                                        "min": -100
                                    }
                                }
                            ],
                            "type": "collection",
                            "label": "Token Probability"
                        },
                        "type": "array",
                        "label": "Token Probability"
                    },
                    {
                        "name": "seed",
                        "type": "integer",
                        "label": "Seed"
                    },
                    {
                        "name": "tool_choice",
                        "type": "select",
                        "label": "Tool Choice",
                        "validate": {
                            "enum": [
                                "none",
                                "auto",
                                "required"
                            ]
                        }
                    },
                    {
                        "name": "stop",
                        "spec": {
                            "name": "value",
                            "type": "text",
                            "label": "Stop Sequence"
                        },
                        "type": "array",
                        "label": "Stop Sequences",
                        "validate": {
                            "maxItems": 4
                        }
                    },
                    {
                        "name": "additionalParameters",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "key",
                                    "type": "text",
                                    "label": "Parameter Name",
                                    "required": true
                                },
                                {
                                    "name": "type",
                                    "type": "select",
                                    "label": "Input Type",
                                    "options": [
                                        {
                                            "label": "Text",
                                            "value": "text",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "text",
                                                    "label": "Parameter Value"
                                                }
                                            ],
                                            "default": true
                                        },
                                        {
                                            "label": "Number",
                                            "value": "number",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "number",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Boolean",
                                            "value": "boolean",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "boolean",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Date",
                                            "value": "date",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "date",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Any",
                                            "value": "any",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "any",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        }
                                    ]
                                }
                            ],
                            "type": "collection",
                            "label": "Input Parameter"
                        },
                        "type": "array",
                        "label": "Other Input Parameters"
                    },
                    {
                        "name": "model",
                        "type": "select",
                        "label": "Model",
                        "required": true
                    },
                    {
                        "name": "max_tokens",
                        "type": "uinteger",
                        "label": "Max Completion Tokens"
                    },
                    {
                        "name": "messages",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "role",
                                    "type": "select",
                                    "label": "Role",
                                    "options": {
                                        "store": [
                                            {
                                                "label": "User",
                                                "value": "user",
                                                "nested": [
                                                    {
                                                        "help": "Text content of the message on behalf of the selected __Role__.",
                                                        "name": "content",
                                                        "type": "text",
                                                        "label": "Text Content"
                                                    },
                                                    {
                                                        "name": "imageInputType",
                                                        "type": "select",
                                                        "label": "Image Input Type",
                                                        "options": [
                                                            {
                                                                "label": "URL",
                                                                "value": "url",
                                                                "nested": [
                                                                    {
                                                                        "help": "Make sure to use a publicly accessible URL.\nYou can test if your image is publicly accessible by opening the link in an incognito tab.",
                                                                        "name": "imageUrl",
                                                                        "type": "url",
                                                                        "label": "Image URL"
                                                                    }
                                                                ]
                                                            },
                                                            {
                                                                "label": "Image File",
                                                                "value": "file",
                                                                "nested": [
                                                                    {
                                                                        "name": "imageFile",
                                                                        "spec": [
                                                                            {
                                                                                "help": "Accepted extensions: `.jpg`, `.jpeg`, `.png`, `.webp` and `.gif`.",
                                                                                "name": "imageFilename",
                                                                                "type": "filename",
                                                                                "label": "Image Filename",
                                                                                "semantic": "file:name",
                                                                                "extension": [
                                                                                    "jpg",
                                                                                    "jpeg",
                                                                                    "png",
                                                                                    "webp",
                                                                                    "gif"
                                                                                ]
                                                                            },
                                                                            {
                                                                                "name": "imageData",
                                                                                "type": "buffer",
                                                                                "label": "Image Data",
                                                                                "semantic": "file:data"
                                                                            }
                                                                        ],
                                                                        "type": "collection",
                                                                        "label": "Image"
                                                                    }
                                                                ]
                                                            }
                                                        ],
                                                        "mappable": false
                                                    },
                                                    {
                                                        "help": "Recommended value: `Auto`",
                                                        "name": "imageDetail",
                                                        "type": "select",
                                                        "label": "Image Detail",
                                                        "options": [
                                                            {
                                                                "label": "Auto",
                                                                "value": "auto",
                                                                "default": true
                                                            },
                                                            {
                                                                "label": "High",
                                                                "value": "high"
                                                            },
                                                            {
                                                                "label": "Low",
                                                                "value": "low"
                                                            }
                                                        ]
                                                    }
                                                ]
                                            },
                                            {
                                                "label": "Assistant",
                                                "value": "assistant",
                                                "nested": [
                                                    {
                                                        "help": "Text content of the message on behalf of the selected __Role__.",
                                                        "name": "content",
                                                        "type": "text",
                                                        "label": "Text Content"
                                                    },
                                                    {
                                                        "mode": "edit",
                                                        "name": "tool_calls",
                                                        "spec": {
                                                            "spec": [
                                                                {
                                                                    "name": "type",
                                                                    "type": "hidden",
                                                                    "default": "function"
                                                                },
                                                                {
                                                                    "help": "Map this directly from the output of a previous **Create a Completion** module. Look for `Choices[]: Message.Tool Calls[]: ID`.",
                                                                    "name": "id",
                                                                    "type": "text",
                                                                    "label": "Tool call ID"
                                                                },
                                                                {
                                                                    "name": "function",
                                                                    "spec": [
                                                                        {
                                                                            "help": "The name of the function previously called.",
                                                                            "name": "name",
                                                                            "type": "text",
                                                                            "label": "Name",
                                                                            "required": true
                                                                        },
                                                                        {
                                                                            "help": "The arguments previously output by the AI.",
                                                                            "name": "arguments",
                                                                            "type": "text",
                                                                            "label": "Arguments",
                                                                            "required": true
                                                                        }
                                                                    ],
                                                                    "type": "collection",
                                                                    "label": "Function"
                                                                }
                                                            ],
                                                            "type": "collection",
                                                            "label": "Tool Call"
                                                        },
                                                        "type": "array",
                                                        "label": "Tool Calls",
                                                        "labels": {
                                                            "add": "Add tool call"
                                                        },
                                                        "mappable": {
                                                            "help": "You can map the entire `Choices[]: Message.Tool Calls` array from a previous Create a Completion module here."
                                                        }
                                                    }
                                                ]
                                            },
                                            {
                                                "label": "Developer / System",
                                                "value": "system",
                                                "nested": [
                                                    {
                                                        "help": "Text content of the message on behalf of the selected __Role__.",
                                                        "name": "content",
                                                        "type": "text",
                                                        "label": "Text Content"
                                                    }
                                                ]
                                            },
                                            {
                                                "label": "Tool",
                                                "value": "tool",
                                                "nested": [
                                                    {
                                                        "help": "The return of the function. This role should only be used when you have processed a previous function call and want to send the output of the function execution back to the AI.",
                                                        "name": "content",
                                                        "type": "text",
                                                        "label": "Text Content",
                                                        "required": true
                                                    },
                                                    {
                                                        "help": "Map this directly from the output of a previous **Create a Completion** module. Look for `Choices[]: Message.Tool Calls[]: ID`.",
                                                        "name": "tool_call_id",
                                                        "type": "text",
                                                        "label": "Tool Call ID.",
                                                        "required": true
                                                    }
                                                ]
                                            }
                                        ]
                                    },
                                    "required": true
                                }
                            ],
                            "type": "collection",
                            "label": "Message"
                        },
                        "type": "array",
                        "label": "Messages",
                        "required": true
                    },
                    {
                        "name": "response_format",
                        "type": "select",
                        "label": "Response Format",
                        "validate": {
                            "enum": [
                                "text",
                                "json_object"
                            ]
                        }
                    },
                    {
                        "name": "prediction",
                        "type": "text",
                        "label": "Predicted Outputs"
                    }
                ],
                "interface": [
                    {
                        "name": "result",
                        "type": "any",
                        "label": "Result"
                    },
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "object",
                        "type": "text",
                        "label": "Object"
                    },
                    {
                        "name": "created",
                        "type": "date",
                        "label": "Created"
                    },
                    {
                        "name": "model",
                        "type": "text",
                        "label": "Model"
                    },
                    {
                        "name": "choices",
                        "spec": [
                            {
                                "name": "text",
                                "type": "text",
                                "label": "Text"
                            },
                            {
                                "name": "index",
                                "type": "number",
                                "label": "Index"
                            },
                            {
                                "name": "logprobs",
                                "type": "text",
                                "label": "Log Probs"
                            },
                            {
                                "name": "finish_reason",
                                "type": "text",
                                "label": "Finish Reason"
                            },
                            {
                                "name": "message",
                                "spec": [
                                    {
                                        "name": "role",
                                        "type": "text",
                                        "label": "Role"
                                    },
                                    {
                                        "name": "content",
                                        "type": "text",
                                        "label": "Content"
                                    },
                                    {
                                        "name": "tool_calls",
                                        "spec": [
                                            {
                                                "name": "id",
                                                "type": "text",
                                                "label": "ID"
                                            },
                                            {
                                                "name": "type",
                                                "type": "text",
                                                "label": "Type"
                                            },
                                            {
                                                "name": "function",
                                                "spec": [
                                                    {
                                                        "name": "name",
                                                        "type": "text",
                                                        "label": "Name"
                                                    },
                                                    {
                                                        "name": "arguments",
                                                        "type": "text",
                                                        "label": "Arguments"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Function"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Tool Calls"
                                    },
                                    {
                                        "name": "refusal",
                                        "type": "text",
                                        "label": "Refusal"
                                    },
                                    {
                                        "name": "annotations",
                                        "spec": [
                                            {
                                                "name": "type",
                                                "type": "text",
                                                "label": "Type"
                                            },
                                            {
                                                "name": "url_citation",
                                                "spec": [
                                                    {
                                                        "name": "end_index",
                                                        "type": "number",
                                                        "label": "End Index"
                                                    },
                                                    {
                                                        "name": "start_index",
                                                        "type": "number",
                                                        "label": "Start Index"
                                                    },
                                                    {
                                                        "name": "title",
                                                        "type": "text",
                                                        "label": "Title"
                                                    },
                                                    {
                                                        "name": "url",
                                                        "type": "text",
                                                        "label": "URL"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "URL Citation"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Annotations"
                                    }
                                ],
                                "type": "collection",
                                "label": "Message"
                            }
                        ],
                        "type": "array",
                        "label": "Choices"
                    },
                    {
                        "name": "usage",
                        "spec": [
                            {
                                "name": "prompt_tokens",
                                "type": "number",
                                "label": "Prompt Tokens"
                            },
                            {
                                "name": "completion_tokens",
                                "type": "text",
                                "label": "Completion Tokens"
                            },
                            {
                                "name": "total_tokens",
                                "type": "number",
                                "label": "Total Tokens"
                            },
                            {
                                "name": "prompt_tokens_details",
                                "spec": [
                                    {
                                        "name": "cached_tokens",
                                        "type": "uinteger",
                                        "label": "Cached Tokens"
                                    },
                                    {
                                        "name": "text_tokens",
                                        "type": "uinteger",
                                        "label": "Text Tokens"
                                    },
                                    {
                                        "name": "image_tokens",
                                        "type": "uinteger",
                                        "label": "Image Tokens"
                                    },
                                    {
                                        "name": "audio_tokens",
                                        "type": "uinteger",
                                        "label": "Audio Tokens"
                                    }
                                ],
                                "type": "collection",
                                "label": "Prompt Tokens Details"
                            },
                            {
                                "name": "completion_tokens_details",
                                "spec": [
                                    {
                                        "name": "reasoning_tokens",
                                        "type": "uinteger",
                                        "label": "Reasoning Tokens"
                                    },
                                    {
                                        "name": "text_tokens",
                                        "type": "uinteger",
                                        "label": "Text Tokens"
                                    },
                                    {
                                        "name": "audio_tokens",
                                        "type": "uinteger",
                                        "label": "Audio Tokens"
                                    },
                                    {
                                        "name": "accepted_prediction_tokens",
                                        "type": "uinteger",
                                        "label": "Accepted Prediction Tokens"
                                    },
                                    {
                                        "name": "rejected_prediction_tokens",
                                        "type": "uinteger",
                                        "label": "Rejected Prediction Tokens"
                                    }
                                ],
                                "type": "collection",
                                "label": "Completion Tokens Details"
                            }
                        ],
                        "type": "collection",
                        "label": "Usage"
                    },
                    {
                        "name": "service_tier",
                        "type": "text",
                        "label": "Service Tier"
                    },
                    {
                        "name": "system_fingerprint",
                        "type": "text",
                        "label": "System Fingerprint"
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 5,
            "module": "markdown:Compile",
            "version": 2,
            "parameters": {},
            "mapper": {
                "gfm": true,
                "data": "{{3.result}}",
                "sanitize": false
            },
            "metadata": {
                "designer": {
                    "x": 904,
                    "y": 1
                },
                "restore": {
                    "expect": {
                        "gfm": {
                            "mode": "chose"
                        },
                        "sanitize": {
                            "mode": "chose"
                        }
                    }
                },
                "expect": [
                    {
                        "name": "data",
                        "type": "text",
                        "label": "Markdown"
                    },
                    {
                        "name": "gfm",
                        "type": "boolean",
                        "label": "GitHub Flavored Markdown",
                        "required": true
                    },
                    {
                        "name": "sanitize",
                        "type": "boolean",
                        "label": "Sanitize",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 4,
            "module": "google-docs:createADocument",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 5486137
            },
            "mapper": {
                "name": "Max Davis Resume",
                "footer": false,
                "header": false,
                "content": "{{5.data}}",
                "folderId": "/177cYGy1l1CxDUjn1j_O0DeErvwClRvhb/1LLN5SPTgAJJTE15k89RDNB4qtQ5H_ndt",
                "destination": "drive"
            },
            "metadata": {
                "designer": {
                    "x": 1184,
                    "y": 1
                },
                "restore": {
                    "expect": {
                        "folderId": {
                            "mode": "chose",
                            "path": [
                                "automations",
                                "indeed Automation"
                            ]
                        },
                        "destination": {
                            "label": "My Drive"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            },
                            "label": "My Google connection (talk@buildfastwithai.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "name",
                        "type": "text",
                        "label": "Name",
                        "required": true
                    },
                    {
                        "name": "content",
                        "type": "text",
                        "label": "Content",
                        "required": true
                    },
                    {
                        "name": "destination",
                        "type": "select",
                        "label": "Choose a Drive",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share",
                                "team"
                            ]
                        }
                    },
                    {
                        "name": "header",
                        "type": "boolean",
                        "label": "Insert a Header",
                        "required": true
                    },
                    {
                        "name": "footer",
                        "type": "boolean",
                        "label": "Insert a Footer",
                        "required": true
                    },
                    {
                        "name": "folderId",
                        "type": "folder",
                        "label": "New Document's Location",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 6,
            "module": "google-sheets:addRow",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 5487018
            },
            "mapper": {
                "from": "drive",
                "mode": "select",
                "values": {
                    "0": "{{2.positionName}}",
                    "1": "{{2.scrapedAt}}",
                    "2": "{{2.postedAt}}",
                    "3": "{{2.salary}}",
                    "4": "{{2.jobType}}",
                    "5": "{{2.company}}",
                    "6": "{{2.location}}",
                    "7": "{{2.description}}",
                    "8": "{{2.url}}",
                    "9": "{{4.webViewLink}}"
                },
                "sheetId": "Sheet1",
                "spreadsheetId": "/177cYGy1l1CxDUjn1j_O0DeErvwClRvhb/1LLN5SPTgAJJTE15k89RDNB4qtQ5H_ndt/1vcN0rVcvt4nsFmNHBX6jk00vBzQwp8q-fkc0HML3PaQ",
                "includesHeaders": true,
                "insertDataOption": "INSERT_ROWS",
                "valueInputOption": "USER_ENTERED",
                "insertUnformatted": false
            },
            "metadata": {
                "designer": {
                    "x": 1493,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "from": {
                            "label": "My Drive"
                        },
                        "mode": {
                            "label": "Search by path"
                        },
                        "sheetId": {
                            "label": "Sheet1"
                        },
                        "spreadsheetId": {
                            "path": [
                                "automations",
                                "indeed Automation",
                                "indeed jobs"
                            ]
                        },
                        "includesHeaders": {
                            "label": "Yes",
                            "nested": [
                                {
                                    "name": "values",
                                    "spec": [
                                        {
                                            "name": "0",
                                            "type": "text",
                                            "label": "Postion Name (A)"
                                        },
                                        {
                                            "name": "1",
                                            "type": "text",
                                            "label": "Scraped At (B)"
                                        },
                                        {
                                            "name": "2",
                                            "type": "text",
                                            "label": "Posted At (C)"
                                        },
                                        {
                                            "name": "3",
                                            "type": "text",
                                            "label": "Salary (D)"
                                        },
                                        {
                                            "name": "4",
                                            "type": "text",
                                            "label": "Job Type (E)"
                                        },
                                        {
                                            "name": "5",
                                            "type": "text",
                                            "label": "Company (F)"
                                        },
                                        {
                                            "name": "6",
                                            "type": "text",
                                            "label": "Location (G)"
                                        },
                                        {
                                            "name": "7",
                                            "type": "text",
                                            "label": "Discription (H)"
                                        },
                                        {
                                            "name": "8",
                                            "type": "text",
                                            "label": "URL to Apply (I)"
                                        },
                                        {
                                            "name": "9",
                                            "type": "text",
                                            "label": "Customized Resume (J)"
                                        },
                                        {
                                            "name": "10",
                                            "type": "text",
                                            "label": "(K)"
                                        },
                                        {
                                            "name": "11",
                                            "type": "text",
                                            "label": "(L)"
                                        },
                                        {
                                            "name": "12",
                                            "type": "text",
                                            "label": "(M)"
                                        },
                                        {
                                            "name": "13",
                                            "type": "text",
                                            "label": "(N)"
                                        },
                                        {
                                            "name": "14",
                                            "type": "text",
                                            "label": "(O)"
                                        },
                                        {
                                            "name": "15",
                                            "type": "text",
                                            "label": "(P)"
                                        },
                                        {
                                            "name": "16",
                                            "type": "text",
                                            "label": "(Q)"
                                        },
                                        {
                                            "name": "17",
                                            "type": "text",
                                            "label": "(R)"
                                        },
                                        {
                                            "name": "18",
                                            "type": "text",
                                            "label": "(S)"
                                        },
                                        {
                                            "name": "19",
                                            "type": "text",
                                            "label": "(T)"
                                        },
                                        {
                                            "name": "20",
                                            "type": "text",
                                            "label": "(U)"
                                        },
                                        {
                                            "name": "21",
                                            "type": "text",
                                            "label": "(V)"
                                        },
                                        {
                                            "name": "22",
                                            "type": "text",
                                            "label": "(W)"
                                        },
                                        {
                                            "name": "23",
                                            "type": "text",
                                            "label": "(X)"
                                        },
                                        {
                                            "name": "24",
                                            "type": "text",
                                            "label": "(Y)"
                                        },
                                        {
                                            "name": "25",
                                            "type": "text",
                                            "label": "(Z)"
                                        },
                                        {
                                            "name": "26",
                                            "type": "text",
                                            "label": "(AA)"
                                        },
                                        {
                                            "name": "27",
                                            "type": "text",
                                            "label": "(AB)"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Values"
                                }
                            ]
                        },
                        "insertDataOption": {
                            "mode": "chose",
                            "label": "Insert rows"
                        },
                        "valueInputOption": {
                            "mode": "chose",
                            "label": "User entered"
                        },
                        "insertUnformatted": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            },
                            "label": "My Google connection (talk@buildfastwithai.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "mode",
                        "type": "select",
                        "label": "Search Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "select",
                                "fromAll",
                                "map"
                            ]
                        }
                    },
                    {
                        "name": "insertUnformatted",
                        "type": "boolean",
                        "label": "Unformatted",
                        "required": true
                    },
                    {
                        "name": "valueInputOption",
                        "type": "select",
                        "label": "Value input option",
                        "validate": {
                            "enum": [
                                "USER_ENTERED",
                                "RAW"
                            ]
                        }
                    },
                    {
                        "name": "insertDataOption",
                        "type": "select",
                        "label": "Insert data option",
                        "validate": {
                            "enum": [
                                "INSERT_ROWS",
                                "OVERWRITE"
                            ]
                        }
                    },
                    {
                        "name": "from",
                        "type": "select",
                        "label": "Drive",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share",
                                "team"
                            ]
                        }
                    },
                    {
                        "name": "spreadsheetId",
                        "type": "file",
                        "label": "Spreadsheet ID",
                        "required": true
                    },
                    {
                        "name": "sheetId",
                        "type": "select",
                        "label": "Sheet Name",
                        "required": true
                    },
                    {
                        "name": "includesHeaders",
                        "type": "select",
                        "label": "Table contains headers",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    },
                    {
                        "name": "values",
                        "spec": [
                            {
                                "name": "0",
                                "type": "text",
                                "label": "Postion Name (A)"
                            },
                            {
                                "name": "1",
                                "type": "text",
                                "label": "Scraped At (B)"
                            },
                            {
                                "name": "2",
                                "type": "text",
                                "label": "Posted At (C)"
                            },
                            {
                                "name": "3",
                                "type": "text",
                                "label": "Salary (D)"
                            },
                            {
                                "name": "4",
                                "type": "text",
                                "label": "Job Type (E)"
                            },
                            {
                                "name": "5",
                                "type": "text",
                                "label": "Company (F)"
                            },
                            {
                                "name": "6",
                                "type": "text",
                                "label": "Location (G)"
                            },
                            {
                                "name": "7",
                                "type": "text",
                                "label": "Discription (H)"
                            },
                            {
                                "name": "8",
                                "type": "text",
                                "label": "URL to Apply (I)"
                            },
                            {
                                "name": "9",
                                "type": "text",
                                "label": "Customized Resume (J)"
                            },
                            {
                                "name": "10",
                                "type": "text",
                                "label": "(K)"
                            },
                            {
                                "name": "11",
                                "type": "text",
                                "label": "(L)"
                            },
                            {
                                "name": "12",
                                "type": "text",
                                "label": "(M)"
                            },
                            {
                                "name": "13",
                                "type": "text",
                                "label": "(N)"
                            },
                            {
                                "name": "14",
                                "type": "text",
                                "label": "(O)"
                            },
                            {
                                "name": "15",
                                "type": "text",
                                "label": "(P)"
                            },
                            {
                                "name": "16",
                                "type": "text",
                                "label": "(Q)"
                            },
                            {
                                "name": "17",
                                "type": "text",
                                "label": "(R)"
                            },
                            {
                                "name": "18",
                                "type": "text",
                                "label": "(S)"
                            },
                            {
                                "name": "19",
                                "type": "text",
                                "label": "(T)"
                            },
                            {
                                "name": "20",
                                "type": "text",
                                "label": "(U)"
                            },
                            {
                                "name": "21",
                                "type": "text",
                                "label": "(V)"
                            },
                            {
                                "name": "22",
                                "type": "text",
                                "label": "(W)"
                            },
                            {
                                "name": "23",
                                "type": "text",
                                "label": "(X)"
                            },
                            {
                                "name": "24",
                                "type": "text",
                                "label": "(Y)"
                            },
                            {
                                "name": "25",
                                "type": "text",
                                "label": "(Z)"
                            },
                            {
                                "name": "26",
                                "type": "text",
                                "label": "(AA)"
                            },
                            {
                                "name": "27",
                                "type": "text",
                                "label": "(AB)"
                            }
                        ],
                        "type": "collection",
                        "label": "Values"
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "us2.make.com",
        "notes": []
    }
}